In [30]:
import os
import pandas as pd
from tqdm import tqdm
from sklearn.model_selection import train_test_split

#config
CSV_PATH = r"E:\Documents\Codes\Python\vehicle detection pipeline\data\raw\train.csv"
IMG_DIR = "train"
OUTPUT_DIR = "data"
VAL_SPLIT = 0.2

df = pd.read_csv(CSV_PATH)

df

,Unnamed: 0,ImageID,LabelName,XMin,XMax,YMin,YMax
0,0,0000599864fd15b3,Bus,0.343750,0.908750,0.156162,0.650047
1,1,00006bdb1eb5cd74,Truck,0.276667,0.697500,0.141604,0.437343
2,2,00006bdb1eb5cd74,Truck,0.702500,0.999167,0.204261,0.409774
3,3,00010bf498b64bab,Bus,0.156250,0.371250,0.269188,0.705228
4,4,00013f14dd4e168f,Bus,0.287500,0.999375,0.194184,0.999062
...,...,...,...,...,...,...,...
19179,19179,fff2b15ad6007d0e,Truck,0.277344,0.622656,0.226389,0.859722
19180,19180,fff376d20410e4c9,Bus,0.295625,0.558750,0.306667,0.397500
19181,19181,fff376d20410e4c9,Bus,0.348125,0.701250,0.423333,0.744167
19182,19182,fffde5953a818927,Bus,0.277500,0.605625,0.565000,0.795833
19183,19183,fffde5953a818927,Bus,0.613125,0.828750,0.623333,0.795833

In [17]:
df = df.drop(columns=["Unnamed: 0"])
df

                ImageID LabelName      XMin      XMax      YMin      YMax
0      0000599864fd15b3       Bus  0.343750  0.908750  0.156162  0.650047
1      00006bdb1eb5cd74     Truck  0.276667  0.697500  0.141604  0.437343
2      00006bdb1eb5cd74     Truck  0.702500  0.999167  0.204261  0.409774
3      00010bf498b64bab       Bus  0.156250  0.371250  0.269188  0.705228
4      00013f14dd4e168f       Bus  0.287500  0.999375  0.194184  0.999062
...                 ...       ...       ...       ...       ...       ...
19179  fff2b15ad6007d0e     Truck  0.277344  0.622656  0.226389  0.859722
19180  fff376d20410e4c9       Bus  0.295625  0.558750  0.306667  0.397500
19181  fff376d20410e4c9       Bus  0.348125  0.701250  0.423333  0.744167
19182  fffde5953a818927       Bus  0.277500  0.605625  0.565000  0.795833
19183  fffde5953a818927       Bus  0.613125  0.828750  0.623333  0.795833

[19184 rows x 6 columns]

In [29]:
ids = df["ImageID"].unique()
len(ids)

12180

In [21]:
uniqueDF = df.drop_duplicates()
len(uniqueDF)

19184

In [31]:
x_Train, x_Test  = train_test_split(ids, test_size=0.2)
len(x_Train), len(x_Test)

(9744, 2436)